.Header {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(to right bottom, rgba($color-light,0.8), rgba($color-dark, 0.8)), url(../../images/barbershop2.jpg);
  background-size: cover;
  background-position: top;
  
  clip-path: polygon(0 0, 100% 0, 100% 72vh, 0 100%);

  &_Logo-Box{
    position: absolute;
    top: 60px;
    left: 80px;
  }

  &_Logo{
    height: 8vw;
    border-radius: 22%;
    transform: rotate(-15deg);
  }

  &_Text-Box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.Barbers {
  position: relative;
  height: auto; 
  background-color: #e2e2e2;
  padding: 15% 0;

  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}

.Footer {
  position: relative;
  background-color: $color-light;
  height: 30vh;
}